.foto-perfil {
    border-radius: 100%;
    height: auto;
    max-width: 200px;
    border: 1px solid black;
    margin: auto;
}

body {
    background-color: #f7f7f7;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

.cursos {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
}

.cursos__list {
    padding: 0;
}

.cursos__item {
    border-bottom: 1px solid #cacaca;
    padding: 10px 0;
}
.cursos__item:last-child {
    border-bottom: none;
}
